<table>
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Vasya</td>
        <td>Vasutca</td>
        <td>mail@mail.com</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Alexey</td>
        <td>Lehin</td>
        <td>gmail@mail.com</td>
    </tr>
</table>
